/* roboto-regular - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-700 - cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v27-cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v27-cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v27-cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v27-cyrillic-700.woff") format("woff"), url("../fonts/raleway-v27-cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v27-cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
:root {
  --header-color: #212121;
  --header-text-color: #2f303a;
  --main-color: #2196f3;
  --main-bgd-color: #ffffff;
  --main-team-color: #f5f4fa;
  --contacts-color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.section {
  width: 1600px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--header-color);
  background-color: var(--main-bgd-color);
}

.link {
  list-style: none;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  outline: 1px solid transparent;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.decision__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;
  color: var(--main-bgd-color);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  padding: 10px 32px;
  outline: 1px solid transparent;
  transition-property: background, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.decision__btn:hover, .decision__btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.portfolio__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  margin-bottom: 21px;
  transition-property: background, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--main-bgd-color);
  background: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-btn {
  color: var(--main-bgd-color);
  background-color: var(--main-color);
}

.subscription__btn {
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  position: relative;
  cursor: pointer;
  background: #2196f3;
  border: none;
  margin-left: 140px;
  align-items: center;
  justify-content: center;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__btn:hover, .subscription__btn:focus {
  background: #188ce8;
}
@media screen and (min-width: 768px) {
  .subscription__btn {
    margin: 0 auto;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__btn {
    margin-left: 12px;
  }
}

.nav__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
  display: block;
  width: 480px;
  transition-property: text-decoration-color, outline, border-width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__logo:hover, .nav__logo:focus {
  text-decoration-color: var(--main-color);
  outline: 1px solid #ececec;
  border-width: 100%;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    margin-right: 93px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    width: 145px;
    padding-right: 0;
    margin-right: 88px;
  }
}

.client__logo {
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 480px) {
  .client__logo {
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .client__logo {
    display: inline-block;
    width: 226px;
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .client__logo {
    width: 170px;
  }
}

.client__logo__item {
  fill: currentColor;
}

/***.adress__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-color);
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  @include transition(
    text-decoration-color,
    outline,
    null,
    250ms,
    cubic-bezier(0.4, 0, 0.2, 1)
  );
  &:hover,
  &:focus {
    text-decoration-color: var(--main-color);
    outline: 1px solid #ececec;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
.adress__logo__decor {
  color: var(--main-bgd-color);
}*/
.adress__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-color);
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
  transition-property: text-decoration-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__logo:hover,
.adress__logo:focus {
  text-decoration-color: var(--main-color);
  outline: 1px solid #ececec;
}

.adress__logo__decor {
  color: var(--main-bgd-color);
}

.adress__container {
  display: block;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 480px;
}
@media screen and (min-width: 768px) {
  .adress__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .adress__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
  }
}

.page__header {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 1200px;
}
@media screen and (min-width: 480px) {
  .page__header {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .page__header {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .page__header {
    width: 1200px;
  }
}

.nav__main {
  display: flex;
  align-items: center;
}

.nav__site .contacts {
  display: none;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__site .contacts {
    display: flex;
  }
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__list {
  display: none;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}

.link.current {
  color: var(--main-color);
}

.nav__item {
  position: relative;
  z-index: 1;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  bottom: -1px;
}

.nav__text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.nav__link:hover, .nav__link:focus {
  color: var(--main-color);
  text-decoration-color: var(--main-color);
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.contacts {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }
}

.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: none;
  align-items: center;
  justify-content: center;
  transition-property: color, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--main-color);
  text-decoration-color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.contacts__pic {
  fill: currentColor;
  margin-right: 10px;
}

.menu-open-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition-property: color, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-open-button {
    display: none;
  }
}

.menu-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition-property: color, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-button {
  display: block;
  margin-left: auto;
}

.menu-open-button:hover,
.menu-close-button:hover,
.menu-open-button:focus,
.menu-close-button:focus {
  color: var(--main-color);
  text-decoration-color: var(--main-color);
}

.menu-close-btn__icon,
.menu-open-btn__icon {
  fill: var(--main-color);
  transition-property: color, text-decoration-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  padding: 0;
  cursor: pointer;
}

.mob_menu {
  position: fixed;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  top: 0;
  left: 0;
  width: 480px;
  height: 100vh;
  z-index: 2;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mob_menu {
    display: none;
  }
}

.link.mob-current {
  color: #2196f3;
}

.mob_menu_nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob_menu_nav__item:last-child {
  margin-bottom: 302px;
}

.mob_menu_nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob_menu_contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob_menu_contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob_menu_contacts__item:first-child {
  display: block;
  margin-bottom: 32px;
}

.mob_menu_contacts__item:last-child {
  display: block;
  margin-bottom: 64px;
}

.header-soc-sites {
  display: inline-flex;
  width: 480px;
}

.header-soc-sites__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .header-soc-sites__list {
    display: none;
  }
}

.header-soc-sites__item {
  display: flex;
  margin-left: 10px;
}

.header-soc-sites__item:first-child {
  margin-left: 0;
}

.header-soc-sites__link {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-soc-sites__link:first-child {
  margin-left: 0;
}

.header-soc-sites__border {
  width: 1px;
  height: 22px;
  margin-right: 10px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mob-container {
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.decision__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bgd-color);
  max-width: 480px;
  outline: 1px solid transparent;
}
@media screen and (min-width: 768px) {
  .decision__title {
    max-width: 360px;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .decision__title {
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    max-width: 696px;
    margin: 0 auto;
  }
}

.decision {
  height: 400px;
  padding: 118px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 480px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_mob_1x-min.jpg);
  margin: 0;
  background-color: #c4c4c4;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .decision {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_mob_2x-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .decision {
    width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_tab_1x-min.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .decision {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_tab_2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .decision {
    padding: 200px 0;
    width: 1200px;
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_desk_1x-min.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .decision {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_desk_2x-min.jpg);
  }
}

.benefits {
  width: 100%;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .benefits__list {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__list {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--contacts-color);
  letter-spacing: 0.03em;
  outline: 1px solid transparent;
  display: block;
}
@media screen and (min-width: 480px) {
  .benefits__text {
    width: 450px;
    height: 50px;
    align-content: center;
  }
}
@media screen and (min-width: 768px) {
  .benefits__text {
    width: 100%;
    height: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__text {
    flex-basis: calc(25% - 30px);
    width: 270px;
    height: 120px;
  }
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  outline: 1px solid transparent;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    width: 100%;
    height: 16px;
    margin-bottom: 10px;
    justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__title {
    display: flex;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
}

.benefits__wrapper {
  margin-bottom: 30px;
  display: flex;
  background: var(--main-team-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .benefits__wrapper {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__wrapper {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__wrapper {
    width: 270px;
    height: 120px;
  }
}

.works {
  display: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  width: 100%;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .works {
    display: flex;
  }
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  outline: 1px solid transparent;
  transition-property: text-decoration-color, text-decoration-line;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.works__title:hover, .works__title:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
}

.works__list {
  display: flex;
  margin-top: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.works__item {
  margin-right: 30px;
  outline: 1px solid transparent;
  width: 370px;
}
.works__item:last-child {
  margin-right: 0;
}

.works__wrapper {
  position: relative;
}

.works__text__describe {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.works__wrapper__picture {
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.works__wrapper__picture {
  position: absolute;
  bottom: 0;
  left: 0;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  background: var(--main-team-color);
  border-radius: 0px;
  letter-spacing: 0.03em;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .team {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  background: var(--main-team-color);
  border-radius: 0px;
  letter-spacing: 0.03em;
  display: block;
  outline: 1px solid transparent;
  display: block;
  margin-bottom: 30px;
  transition-property: text-decoration-color, text-decoration-line;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__title:hover, .team__title:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
}
@media screen and (min-width: 768px) {
  .team__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.team__photo {
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .team__photo {
    width: 354px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__photo {
    width: 270px;
    margin-bottom: 0;
  }
}

.last__photo {
  margin-bottom: 0;
}
.team__wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--main-bgd-color);
  margin-top: -5px;
  padding: 30px 122px;
  text-align: center;
  justify-content: center;
  width: 450px;
  height: 162px;
}
@media screen and (min-width: 768px) {
  .team__wrapper {
    width: 354px;
    padding: 30px 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team__wrapper {
    width: 270px;
    padding: 30px 32px;
  }
}

.team__title__participant {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  height: auto;
  display: block;
  margin-bottom: 10px;
  transition-property: text-decoration-color, text-decoration-line;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__title__participant:hover, .team__title__participant:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  display: block;
  margin-bottom: 16px;
  transition-property: text-decoration-color, text-decoration-line;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__text:hover, .team__text:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
}

.social-sites {
  display: flex;
  justify-content: center;
}

.social-sites__item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.social-sites__item:first-child {
  margin-left: 0;
}

.social-sites__link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-bgd-color);
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-sites__link:hover, .social-sites__link:focus {
  background-color: var(--main-color);
  color: #ffffff;
}
.social-sites__link .social-sites__icon {
  fill: currentColor;
}

.client {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .client {
    margin-right: 0;
    margin-left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .client {
    margin-right: 0;
    margin-left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  font-size: 36px;
  line-height: 1.17;
}
@media screen and (min-width: 480px) {
  .client__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .client__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.client__list {
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .client__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .client__list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .client__list {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
  }
}

.client__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  outline: transparent;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .client__link {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
    height: 92px;
  }
}

.adress {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background: var(--header-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
  outline: 1px solid transparent;
  width: 480px;
}
@media screen and (min-width: 768px) {
  .adress {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .adress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

@media screen and (min-width: 480px) {
  .all-footer {
    display: block;
    width: 480px;
    margin-bottom: 60px;
  }
}

.join__footer {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .join__footer {
    width: 50%;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .join__footer {
    margin-left: 0;
    width: 206px;
  }
}

@media screen and (min-width: 768px) {
  .adress__wrapper {
    width: 33.3333333333%;
  }
}

.adress__item {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .adress__item {
    margin-bottom: 9px;
  }
}

.adress__item:last-child {
  margin-bottom: 60px;
}

.adress__link {
  font-size: 14px;
  line-height: 2;
  color: var(--main-bgd-color);
  letter-spacing: 0.03em;
  display: block;
  transition-property: color, text-decoration-line;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link:hover, .adress__link:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .adress__link {
    width: 100%;
  }
}

.adress__link__mail {
  font-size: 14px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  display: block;
  transition-property: color, text-decoration-line;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, text-decoration-line;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link__mail:hover, .adress__link__mail:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .adress__link__mail:hover, .adress__link__mail:focus {
    margin-bottom: 9px;
  }
}

.adress__link__phone {
  font-size: 14px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  transition-property: color, text-decoration-line;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link__phone:hover, .adress__link__phone:focus {
  text-decoration-line: underline;
  text-decoration-color: var(--main-color);
  color: var(--main-color);
}

.adress__list .adress__item {
  font-style: normal;
}

.adress__list {
  display: block;
}
@media screen and (min-width: 1200px) {
  .adress__list {
    width: 33.3333333333%;
    margin-right: 0;
  }
}

.join__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .join__list {
    display: flex;
  }
}

.join__text {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
.join__item {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.join__item:first-child {
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .join__item {
    display: block;
  }
}

.join__link {
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background-color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .join__link {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.join__svg {
  display: block;
  fill: #ffffff;
}

.subscription {
  display: block;
}
@media screen and (min-width: 768px) {
  .subscription {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    width: 33.3333333333%;
    margin-left: 93px;
  }
}

.subscription__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.subscription__email {
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: var(--main-bgd-color);
  background: #2f303a;
  margin-bottom: 20px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__email:hover, .subscription__email:focus {
  border-color: #2196f3;
}
.subscription__email::placeholder {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .subscription__email {
    margin-bottom: 0;
    display: flex;
  }
}

.subscription__pic {
  fill: rgb(255, 255, 255);
  width: 24px;
  height: 24px;
  display: flex;
  margin-left: 10px;
}
.subscription__pic::after {
  content: "";
  display: flex;
  position: absolute;
}

.subscription__form {
  display: block;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    display: flex;
    justify-content: space-between;
  }
}

.adress ~ .container {
  padding-left: 0;
  padding-right: 0;
}

.page__header {
  border-bottom: 1px solid #ececec;
}

.portfolio__page {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio__page {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__list {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.portfolio__item {
  margin-right: 8px;
}
.portfolio__item:last-child {
  margin-right: 0;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.examples__item {
  margin: 15px;
  width: 450px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  .examples__item {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .examples__item {
    width: calc(33.3333333333% - 30px);
  }
}

.examples__link {
  display: block;
  text-decoration: none;
  transition-property: background, border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__link:hover, .examples__link:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .examples__link {
    display: flex;
    flex-direction: column;
  }
}

.examples__text {
  position: absolute;
  top: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .examples__text {
    padding: 63px 24px;
  }
}

.examples__pictures {
  position: relative;
  overflow: hidden;
}

.examples__link:hover .examples__text,
.examples__link:focus .examples__text {
  transform: translateY(0);
}

.examples__img {
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 1200px) {
  .examples__img {
    width: 370px;
    height: 294px;
  }
}

.examples__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
  margin-bottom: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__title:hover, .examples__title:focus {
  color: var(--main-color);
}

.examples__wrapper {
  padding: 20px 24px;
  background-color: var(--main-bgd-color);
  border: 1px solid #eeeeee;
  border-top: 0;
}
@media screen and (min-width: 768px) {
  .examples__wrapper {
    flex-grow: 1;
  }
}
.examles__text__describe {
  font-size: 16px;
  line-height: 1.88;
  color: var(--contacts-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.examles__text__describe:hover, .examles__text__describe:focus {
  color: var(--main-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 450px;
  min-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}

.join-svg-cross {
  color: rgb(0, 0, 0);
}

.modal-field-head {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: block;
  margin-bottom: 12px;
}

.modal-field {
  display: block;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding-left: 42px;
  outline-color: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  border-color: #2196f3;
}

.icon-check {
  width: 16px;
  height: 15px;
  margin-top: 25px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-check:hover, .icon-check:focus {
  border-color: #2196f3;
}

.modal-text {
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  display: block;
  margin-bottom: 20px;
  padding: 12px 16px;
  outline-color: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:hover, .modal-text:focus {
  border-color: #2196f3;
}
.modal-text::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .modal-text {
    width: 448px;
  }
}

.modal-placeholder::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:hover ~ .user-icon-modal,
.modal-input:focus ~ .user-icon-modal {
  fill: #2196f3;
}

.checkbox {
  display: block;
  align-items: center;
  margin-bottom: 30px;
}

.modal-input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.user-icon-modal {
  position: absolute;
  display: inline-block;
  fill: var(--header-color);
  top: 11px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.user-icon-modal:hover, .user-icon-modal:focus {
  fill: var(--main-color);
}

.agreement-act {
  color: rgb(33, 150, 243);
}

.privacy {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .privacy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.privacy span {
  border: 1px solid rgba(34, 34, 34, 0.2);
  left: 0;
}
@media screen and (min-width: 1200px) {
  .privacy span {
    margin-right: 5px;
  }
}

.check-icon {
  fill: transparent;
  padding-top: 4px;
  cursor: pointer;
}

.checkbox-square:checked + .privacy span {
  background-color: #2196f3;
  border: none;
}

.checkbox-square:checked + .privacy .check-icon {
  fill: #ffffff;
}

.checkbox-square:focus + .privacy span {
  border-color: #2196f3;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 8px;
  background-color: transparent;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal-btn-submit {
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  padding: 10px 56px 10px 55px;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  margin-left: 124px;
  transition-property: background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-submit:hover, .modal-btn-submit:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */