.decision__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bgd-color);
  max-width: 696px;
  outline: 1px solid transparent;
}

.decision {
  text-align: center;
  height: 600px;
  padding: 200px 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  margin: 0 auto;
  background-color: #c4c4c4;
}
