.page__header {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__main {
  display: flex;
  align-items: center;
}

.nav__site .contacts {
  display: none;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__list {
  display: none;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.link.current {
  color: var(--main-color);
}
.nav__item {
  position: relative;
  z-index: 1;
}
.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  bottom: -1px;
}
.nav__text {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}
.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  @include transition(color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
  display: block;
  &:hover,
  &:focus {
    color: var(--main-color);
    text-decoration-color: var(--main-color);
  }
}

.nav__item + .nav__item {
  margin-left: 50px;
}
.contacts {
  display: none;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    flex-wrap: nowrap;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
  padding-top: 32px;
  padding-bottom: 32px;

  display: none;
  align-items: center;
  justify-content: center;
  @include transition(
    color,
    text-decoration-color,
    null,
    250ms,
    cubic-bezier(0.4, 0, 0.2, 1)
  );

  &:hover,
  &:focus {
    color: var(--main-color);
    text-decoration-color: var(--main-color);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 50px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}
.contacts__pic {
  fill: currentColor;
  margin-right: 10px;
}
.menu-open-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  @include transition(
    color,
    text-decoration-color,
    null,
    250ms,
    cubic-bezier(0.4, 0, 0.2, 1)
  );
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  @include transition(
    color,
    text-decoration-color,
    null,
    250ms,
    cubic-bezier(0.4, 0, 0.2, 1)
  );
}
.menu-close-button {
  display: block;
  margin-left: auto;
}

.menu-open-button:hover,
.menu-close-button:hover,
.menu-open-button:focus,
.menu-close-button:focus {
  color: var(--main-color);
  text-decoration-color: var(--main-color);
}

.menu-close-btn__icon,
.menu-open-btn__icon {
  fill: var(--main-color);
  @include transition(
    color,
    text-decoration-color,
    null,
    250ms,
    cubic-bezier(0.4, 0, 0.2, 1)
  );
}
.button {
  padding: 0;
  cursor: pointer;
}
.mob_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 48px 25px;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob_menu_nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob_menu_contacts__item:first-child {
  margin-bottom: 32px;
}

.link.mob-current {
  color: #2196f3;
}
.mob_menu__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 302px;
}
.mob_menu_nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: #212121;
}
.mob_menu_contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob_menu_contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-soc-sites {
  display: flex;
  flex-wrap: wrap;
}
.header-soc-sites__list {
  display: flex;
  margin-top: 64px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-soc-sites__item {
  display: flex;
  margin-left: 10px;
}

.header-soc-sites__item:first-child {
  margin-left: 0;
}

.header-soc-sites__link {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-soc-sites__link:first-child {
  margin-left: 0;
}

.header-soc-sites__border {
  width: 1px;
  height: 22px;
  margin-right: 10px;
  background-color: rgba(33, 33, 33, 0.2);
}
.mob-container {
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
