.client__logo {
  width: 100%;
  height: 92px;

  @media screen and (min-width: 480px) {
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
  }

  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 226px;
    margin-right: 0;
    margin-left: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.client__logo__item {
  fill: currentColor;
}
