.adress__container {
  text-align: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-start;
  }
}
