.nav__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-color);

  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
  display: block;
  width: 480px;
  @include transition(
    text-decoration-color,
    outline,
    border-width,
    250ms,
    cubic-bezier(0.4, 0, 0.2, 1)
  );
  &:hover,
  &:focus {
    text-decoration-color: var(--main-color);
    outline: 1px solid #ececec;
    border-width: 100%;
  }
  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
  @media screen and (min-width: 1200px) {
    width: 145px;
    padding-right: 0;
    margin-right: 88px;
  }
}
